/** Colors *******************************************/
$bg: #24273A;
$bg-alt: #363A4F;
$fg: #CAD3F5;
$fg-alt: #939AB7;
$red: #ED8796;
$green: #A6DA95;
$yellow: #EED49F;
$orange: #F5a97F;
$blue: #8AADF4;
$purple: #B7BDF8;
$cyan: #7DC4E4;
$gray: #5B6078;
$gray-alt: #494D64;

@import "./power-menu-2/eww.scss";
